a{
    background: url(images/webpack.ef0a98bc9f035710483a5ccebcfbc783.png);
}
b{
    background:url(images/wtf.50256094192b7b20565363b031a2b495.jpg);
}
c{
    background:url(images/could.15c397419cd1da991ced91f41cb6b0bc.jpg);
}